// IMPORT GLOBAL VARIABLES
@import "./globals";

// PAGE HEADER | START
.main-header {
  margin-bottom: 4rem;
}
// PAGE HEADER | END

// CONTACT FLEX CONTAINER | START
.contact-container {
  display: flex;
  justify-content: space-between;
}
// CONTACT FLEX CONTAINER | END

// CONTACT SECTION | START
.contact {
  width: 40%;
  order: 2;

  h1 {
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }

  a {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    transition: all 0.3s ease-out;

    .text {
      margin-left: 1rem;
    }
  }
  a:hover {
    color: $highlightColor;
    transform: scale(1.1);
  }
}
// CONTACT SECTION | END

// BANNER | START
.banner {
  width: 50%;
  order: 1;

  img {
    width: 100%;
  }
}
// BANNER | END

// MEDIA QUERY | SCREEN <= 768PX (MOBILE VIEW) | START
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .contact {
    width: 100%;
  }

  .banner {
    width: 100%;
    margin-bottom: 4rem;
  }
}
// MEDIA QUERY | SCREEN <= 768PX (MOBILE VIEW) | END
