@import "./globals";

.projects-banner {
  img {
    width: 100%;
  }
}

.projects-header {
  font-size: 1.75rem;
  text-align: center;
  margin: 2rem 0;
}

.project-items {
  display: flex;
  justify-content: space-between;

  .project-item {
    width: 30%;

    .image {
      background: $secondaryBackgroundColor;
      padding: 1rem;
      margin-bottom: 0.5rem;
      border-radius: 0.5rem;
    }

    .text {
      font-weight: 500;
      text-align: center;
    }

    img {
      width: 100%;
    }

    .image:hover {
      background: hsl(0, 0%, 50%);
    }
  }
}

@media (max-width: 768px) {
  .project-items {
    flex-direction: column;

    .project-item {
      width: 100%;
      margin-bottom: 2rem;

      img {
        width: 100%;
      }
    }
  }
}
