// IMPORT GLOBAL VARIABLES
@import "./globals";

// PROJECTS BANNER | START
.projects-banner {
  img {
    width: 100%;
  }
}
// PROJECTS BANNER | END

// PROJECTS HEADER | START
.projects-header {
  font-size: 1.75rem;
  text-align: center;
  margin: 2rem 0;
}
// PROJECTS HEADER | END

// PROJECT ITEMS SECTION | START
.project-items {
  display: flex;
  justify-content: space-between;

  .project-item {
    width: 30%;

    .image {
      background: $secondaryBackgroundColor;
      margin-bottom: 0.5rem;
      border-radius: 0.5rem;
      transition: all 0.3s ease-out;
    }

    .text {
      font-weight: 500;
      text-align: center;
    }

    img {
      display: block;
      width: 100%;
      border-radius: 0.5rem;
    }

    .image:hover {
      background: hsl(0, 0%, 50%);
      transform: scale(1.1);
      margin-bottom: 1rem;
      box-shadow: 0 0 10px $primaryTextColor;
    }
  }

  .project-item:hover {
    .text {
      font-weight: 700;
      color: $highlightColor;
    }
  }
}
// PROJECT ITEMS SECTION | END

// MEDIA QUERY | SCREEN <= 768PX (MOBILE VIEW) | START
@media (max-width: 768px) {
  .project-items {
    flex-direction: column;

    .project-item {
      width: 100%;
      margin-bottom: 2rem;

      img {
        width: 100%;
      }
    }
  }
}
// MEDIA QUERY | SCREEN <= 768PX (MOBILE VIEW) | END
